:root {
    --light-font-color: rgb(255, 255, 255);
  }

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100vw;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url("mikhail-tyrsyna-sPXtmZu82jw-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.left-side > h1 {
    text-align: center;
    font-size: clamp(2rem, 4vw, 4rem);
    color: var(--light-font-color);
    background-color: rgba(0, 0, 0, 0.648);
    margin-top: 150px;
    padding: 2rem;
    font-weight: 600;
}

.shout-out, 
.shout-out a {
    display: flex;
    flex-flow: row wrap;
    margin-top: auto;
    justify-content: center;
    align-content: center;
    color: var(--light-font-color);
    margin-bottom: 5px;
    font-size: 0.65rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 40px;
    background-color: #f9fafb;
}

.welcome-cta {
    margin-top: 100px;
    font-size: clamp(1rem, 4vw, 1.5rem);
}

.right-side > form {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.252) ;
}

.login {
    margin-top: 40px;
}

.name {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.text-input {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    width: clamp(50px, 50vw, 300px);
    color: rgb(66, 66, 66);
}

input[type="text"] {
    height: 2rem;
    border: #E5E7EB solid;
    border-radius: 3px;
    margin-top: 2px;
    padding-left: 0.5rem;
    font-size: 1rem;
}

input[type="text"]:focus {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(22, 80, 239);
    outline: none;
}